.fc-container{
  width: 1170px;
  margin: 0 auto;
}

.fc-text-center{
  text-align: center;
}

.fc-flex{
  display: flex;
}

.fc-flex-between{
  justify-content: space-between;
}

.fc-flex-around{
  justify-content: space-around;
}

.fc-flex-align-center{
  align-items: center;
}

.fc-flex-justify-center{
  justify-content: center;
}

.fc-flex-wrap{
 flex-wrap: wrap;
}

ul li{
  list-style: none;
  cursor: pointer;
}

li a{
  text-decoration: none;
}

@media (max-width:992px){
  .fc-container{
    width: 992px;
  }
}
@media (max-width:768px){
  .fc-container{
    width: 768px;
  }
}
@media (max-width:576px){
  .fc-container{
    width: 576px;
  }
}
